
@import url("font-awesome_icon-font.css");
@import url("et-line_icon-font.css");
@import url("plugins/owl.carousel.css");
@import url("plugins/magnific-popup.css");

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,500italic,700,700italic,300italic);


body {
    color: #626262;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#page-wraper {
    position: relative;
    width: 100%;
}
.header {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    color: #fff;
    width: 100%;
    height: 85px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.header.header-fixed {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 58px;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #f0f0f0;
}

.header-inner {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.header-fixed .logo a {
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.header-fixed .nav-menu ul.nav-menu-inner > li > a {
    padding-top: 24px;
    padding-bottom: 23px;
}
@media all and (min-width: 1025px) {
    .header.header-fixed .nav-menu ul.nav-menu-inner > li > a {
        color: rgba(34,34,34,0.60);
    }
    .header.header-fixed .nav-menu ul.nav-menu-inner > li:hover > a,
    .header.header-fixed .nav-menu ul.nav-menu-inner > li > a:hover {
        color: rgba(34,34,34,1);
    }
}

@media all and (max-width: 1024px) {
    .header {
        height: 58px;
    }
    .header-inner {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        display: table;
        width: 100%;
    }
    .header .logo a {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100px;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
}


/*------------------------------------------------------------------*/
/* Logo Style */
/*------------------------------------------------------------------*/
.logo {
    float: left;
    text-align: left;
    display: inline-block;
}

.logo a {
width: 100px;
display: block;
margin-top: 29px;
margin-bottom: 28px;
transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
-o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
-moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
-webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
position: relative;
}

.logo a img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.nav-menu {
    position: static;
    float: right;
    display: block;
}

.nav-menu.active {
    display: block;
}

.nav-menu ul.nav-menu-inner {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul.nav-menu-inner li {
    display: inline-block;
    list-style: none;
    text-align: left;
}

.nav-menu ul.nav-menu-inner > li > a {
    color: rgba(255,255,255,0.60);
}

.nav-menu ul.nav-menu-inner li a {
    font-family: inherit;
    display: block;
    font-size: 11px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.nav-menu ul.nav-menu-inner > li > a {
    padding: 37px 15px;
}

.header .nav-menu ul.nav-menu-inner > li.active a,
.header .nav-menu ul.nav-menu-inner > li a.active,
.header .nav-menu ul.nav-menu-inner > li:hover > a,
.header .nav-menu ul.nav-menu-inner > li > a:hover,
{
    color: #fff;
}

/* Mobile bar icon */
.nav-mobile.nav-bar-icon {
    display: none;
}

.nav-bar-icon {
    display: inline-block;
    float: right;
    position: relative;
    height: 16px;
    width: 20px;
    margin-top: 34px;
    margin-bottom: 35px;
    margin-left: 15px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    cursor: pointer;
}

.header-fixed .nav-bar-icon {
    margin-top: 21px;
    margin-bottom: 21px;
}

.nav-bar-icon a {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 19px 0;
}

.nav-bar-icon.active a, .nav-bar-icon a.active,
.nav-bar-icon:hover a, .nav-bar-icon a:hover {
    color: #17a697;
}

.nav-bar-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    background-color: #222;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.nav-bar-icon > span:before,
.nav-bar-icon > span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

header .nav-bar-icon > span,
header .nav-bar-icon > span:before,
header .nav-bar-icon > span::after {
    background-color: #fff;
}

header.header-fixed .nav-bar-icon > span,
header.header-fixed .nav-bar-icon > span:before,
header.header-fixed .nav-bar-icon > span::after {
    background-color: #222;
}


.nav-bar-icon > span:before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
}

.nav-bar-icon > span:after {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    -o-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -moz-transform: translateY(7px);
}

.nav-bar-icon.active {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nav-bar-icon.active > span:before {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.nav-bar-icon.active > span:after {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/* Dropdown-menu */
.nav-menu > ul li {
    position: relative;
}

.sub-dropdown.dropdown {
    top: 100%;
    left: 0;
}

.sub-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    background: rgba(34,34,34,0.90);
    padding: 0;
    width: 200px;
}

.sub-dropdown li {
    width: 100%;
}

.sub-dropdown > li > a {
    padding: 13px 15px;
    display: block;
    color: rgba(255, 255, 255, 0.75);
}

.sub-dropdown > li:hover > a {
    background: rgba(255,255,255,0.05);
    color: #fff;
}

.sub-dropdown i {
    float: right;
}


@media all and (max-width: 1024px) {
    .nav-menu ul.nav-menu-inner li {
        display: block;
        width: 100%;
    }

    .nav-menu {
        position: static;
        left: 0;
        top: 100%;
        float: none;
        display: none;
        width: 100%;
        background: rgba(34,34,34,0.85);
        overflow-y: auto;
        z-index: 999;
    }

    .nav-bar-icon, .nav-mobile.nav-bar-icon, .header-fixed .nav-bar-icon {
        display: inline-block;
        float: right;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    .nav-menu ul.nav-menu-inner li a, .header-fixed .nav-menu ul.nav-menu-inner li a {
        padding: 15px 12px;
        border-top: 1px solid #444;
    }
    .sub-dropdown.dropdown, .sub-dropdown {
        top: 100%;
        position: relative;
        left: 0;
        width: 100%;
    }
    .sub-dropdown a {
        padding-left: 30px !important;
    }
    .header .nav-menu ul.nav-menu-inner li a.current,
    .header .nav-menu ul.nav-menu-inner li.current a {
        color: #fff;
    }
}
